@media screen and (min-width: 1000px) {
    main {
        margin: 5% 15%;
        justify-content: center;;
    }
    ol {
        padding-left: 17%;
    }
    label {
        display: inline-block;
    }
}



@media screen and (max-width: 800px) {
    .logo {
        text-align: center;
    }
    nav > .container {
        padding-left: 0;
    }
    #primary {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
    .subscribe {
        text-align: center;
    }
    label {
        margin: 10px 0;
    }
    .footer-icons {
        margin-left: 30px;
    }
    .submit-btn {
        margin-top: 15px;
    }
    ol {
        display: grid;
        flex-wrap: nowrap;
    } 
}

@media screen and (max-width: 450px) {
    .footer-icons {
        margin-left: 50px;
    }
    label {
        display: block;
    }
}

@media screen and (max-width: 370px) {
    .footer-icons {
        margin-left: 20px;
    }
}