@media screen and (min-width: 800px) {
    main {
        margin: 5% 15%;
        justify-content: center;;
    }
    ol {
        padding-left: 17%;
    }
}

@media screen and (max-width: 800px) {
    main {
        max-width: 500px;
    }
}