html {
    box-sizing: border-box;
    background-color: #f1f1f1;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
 ul {
      list-style-type: none;
  }

  .logo {
      color: #242a43;
      font-family: 'Amatic SC', cursive;
      font-size: 75px;
      margin: 20px;

  }

  a {
      text-decoration: none;
      color: #242a43;
  }

.sidebar {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    text-align: center;
    border-bottom: 1px solid #242a43;
}
  .container {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
  }

  .responsive-image {
    max-width: 100%;
  }

  .cell {
    margin: 1rem;
  }

  #primary {
    float: left;
    width: 63%;
  }
  aside {
    float: right;
    width: 35%;
  }

  footer {
    clear: both;
    margin-bottom: 0;
    background-color: #242a43;
  }

 

 