@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

ol {
  list-style: none;
  counter-reset: counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
ol li {
  counter-increment: counter;
  display: flex;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
ol li::before {
  content: "0" counter(counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 1rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
  color:#DDA15E;
}

html {
    box-sizing: border-box;
    background-color: #f1f1f1;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
 ul {
      list-style-type: none;
  }

  .written-by {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin: 10px;
    color: #DDA15E;
  }

  .date {
    font-family: 'Courgette', cursive;
    color: #242a43;
  }

  .logo {
      color: #242a43;
      font-family: 'Amatic SC', cursive;
      font-size: 75px;
      margin: 20px;
  }

  a {
      text-decoration: none;
      color: #242a43;
  }

  a:hover {
    text-decoration: underline;
    color: #DDA15E;
  }

.sidebar {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    text-align: center;
    border-bottom: 1.5px solid #DDA15E;
}

.icon {
  max-width: 10%;
  margin: 5px;
  display: inline-block;
}

.icon-link:hover {
  text-decoration: none;
}

.icon-link-footer {
  width: 40px;
  margin: 25px;
}

.icon-link-footer:hover {
  text-decoration: none;
}

  .container {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
  }

  .responsive-image {
    max-width: 95%;
  }

  .img-caption {
    font-family: 'Courgette', cursive;
    font-size: 15px;
    margin-top: 10px;
    color: #DDA15E;
  }

  .cell {
    margin: 1rem;
  }

  #primary {
    float: left;
    width: 63%;
  }
  aside {
    float: right;
    width: 35%;
  }

  footer {
    clear: both;
    margin-bottom: 0;
    background-color: #242a43;
    box-shadow: 0 50vh 0 50vh #242a43;
  }

  .footer-line {
    border-bottom: 1px solid white;
    margin-top: 20px;
  }

  label {
    color: white;
    font-family: 'Courgette', cursive;
    margin-left: 12%;
    margin-right: 15px;

  }
  .submit-btn {
    font-family: 'Courgette', cursive;
    padding: 5px;
    font-weight: 700;
    margin-left: 15px;
    border-radius: 5px;
  }
  
  .submit-btn:hover {
    background-color: #DDA15E;
    color: white;
    cursor: pointer;
  }

  .copyright {
    text-align: center;
    color: white;
    font-family: 'Courgette', cursive;
  }

 

 